talos_tecmty/
storage/
TalosAPI/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store

.env
venv/
.venv/
storage/
sql/
__pycache__/
*.py[cod]

*.log

*.sqlite3

dist/
build/

talos-server/database/
talos-server/milvus_talos.db/
talos-server/__pycache__/

talos-server/rag/.rag-venv
talos-server/rag/.rag_env
talos-server/reportes/*.pdf
talos-server/logs/
