talos_tecmty/
storage/
TalosAPI/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store

.env
venv/
.venv/

*.log

*.sqlite3

dist/
build/

talos-server/database/
talos-server/milvus_talos.db/
talos-server/__pycache__/

talos-server/rag/.rag-venv
talos-server/rag/.rag_env
