-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: talos_tecmty
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `transferencia`
--

DROP TABLE IF EXISTS `transferencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transferencia` (
  `idtransferencia` int NOT NULL AUTO_INCREMENT,
  `idempresa` int NOT NULL,
  `transferencia_fecha` date NOT NULL,
  `idsucursal_origen` int NOT NULL,
  `idalmacen_origen` int NOT NULL,
  `idinventariomes_origen` int DEFAULT NULL,
  `idsucursal_destino` int NOT NULL,
  `idalmacen_destino` int NOT NULL,
  `idinventariomes_destino` int DEFAULT NULL,
  `idproducto` int NOT NULL,
  `transferencia_cantidad` decimal(15,6) NOT NULL,
  `transferencia_costopromedio` decimal(15,2) DEFAULT NULL,
  `transferencia_importe` decimal(15,2) DEFAULT NULL,
  `transferencia_tipo` enum('interna','entre_sucursales') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'interna',
  `transferencia_origen` enum('manual','detectada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'manual',
  `transferencia_estatus` enum('pendiente','confirmada','rechazada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `idusuario_registra` int DEFAULT NULL,
  `idusuario_confirma` int DEFAULT NULL,
  `transferencia_observaciones` text COLLATE utf8mb4_unicode_ci,
  `transferencia_createdat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `transferencia_updatedat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idtransferencia`),
  KEY `idx_transf_fecha` (`transferencia_fecha`),
  KEY `idx_transf_producto` (`idproducto`),
  KEY `idx_transf_origen` (`idalmacen_origen`),
  KEY `idx_transf_destino` (`idalmacen_destino`),
  KEY `idx_transf_estatus` (`transferencia_estatus`),
  KEY `idx_transf_inventario_org` (`idinventariomes_origen`),
  KEY `idx_transf_inventario_dst` (`idinventariomes_destino`),
  CONSTRAINT `fk_transf_almacen_destino` FOREIGN KEY (`idalmacen_destino`) REFERENCES `almacen` (`idalmacen`),
  CONSTRAINT `fk_transf_almacen_origen` FOREIGN KEY (`idalmacen_origen`) REFERENCES `almacen` (`idalmacen`),
  CONSTRAINT `fk_transf_inventario_destino` FOREIGN KEY (`idinventariomes_destino`) REFERENCES `inventariomes` (`idinventariomes`),
  CONSTRAINT `fk_transf_inventario_origen` FOREIGN KEY (`idinventariomes_origen`) REFERENCES `inventariomes` (`idinventariomes`),
  CONSTRAINT `fk_transf_producto` FOREIGN KEY (`idproducto`) REFERENCES `producto` (`idproducto`),
  CONSTRAINT `chk_almacenes_distintos` CHECK ((`idalmacen_origen` <> `idalmacen_destino`)),
  CONSTRAINT `chk_cantidad_positiva` CHECK ((`transferencia_cantidad` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Transferencias de productos entre almacenes ? registradas manualmente o detectadas autom├íticamente por el sistema';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transferencia`
--

LOCK TABLES `transferencia` WRITE;
/*!40000 ALTER TABLE `transferencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `transferencia` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-26 13:23:52
